body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.input-section {
    display: flex;
    justify-content: space-between;
}

#task-input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#add-task-btn {
    padding: 10px 20px;
    background-color: #131312;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #e44f4f;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.task-item {
    background: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-item.completed {
    text-decoration:underline;
    color: #131211;
}

.task-buttons {
    display: flex;
    gap: 10px;
}

.edit-btn,
.delete-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.complete-btn {
    background-color: #e9700d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.complete-btn:hover {
    background-color: #218838;
}
